body, html {
  margin: 0;
  padding-top: 2vw;
  background-color: #363636;
  color: #fff;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;
  height: 5vw;
  width: 88vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5.7vw;
}

.app-logo {
  /* width: 16vw; */
  min-width: 200px;
  max-width: 300px;
}

.anime-card {
  height: 420px;
  width: 320px;
  margin: 1rem;
}

.preview-box {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.card {
  width: 170px;
  margin: 0 0.25rem;
}

.card-content {
  height: 100%;
}

.card-content .media {
  margin: auto;
}

.title.is-4 {
  font-size: 1rem;
}

.row-title {
  display: flex;
  justify-content: flex-start;
}

.row-title h2 {
  font-size: 1.5rem;
}

.row-container {
  display: flex;
}

.detals-box {
  margin: 1vw 5vw;
}

.details-img {
  float: left;
}

.details-content {
  padding-left: 18rem;
}
